# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicitly declare text files to always have LF line endings on checkout
*.ts text eol=lf
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.scss text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.cs text eol=lf
*.csproj text eol=lf
*.sln text eol=lf
*.props text eol=lf
*.config text eol=lf

# Denote all files that are truly binary and should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
