apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: orange-production

bases:
- ../../base

namePrefix: prod-

commonLabels:
  environment: production

images:
- name: orangecarrental.azurecr.io/public-portal
  newTag: v1.0.0
- name: orangecarrental.azurecr.io/vehicles-api
  newTag: v1.0.0
- name: orangecarrental.azurecr.io/reservations-api
  newTag: v1.0.0
- name: orangecarrental.azurecr.io/customers-api
  newTag: v1.0.0
- name: orangecarrental.azurecr.io/locations-api
  newTag: v1.0.0

replicas:
- name: public-portal
  count: 3
- name: vehicles-api
  count: 5
- name: reservations-api
  count: 5
- name: customers-api
  count: 3
- name: locations-api
  count: 2
- name: keycloak
  count: 3

configMapGenerator:
- name: app-config
  behavior: merge
  literals:
  - api.base.url=https://api.orange-rental.de
  - keycloak.url=https://auth.orange-rental.de
  - app.environment=production

patches:
- patch: |-
    apiVersion: autoscaling/v2
    kind: HorizontalPodAutoscaler
    metadata:
      name: vehicles-api
    spec:
      scaleTargetRef:
        apiVersion: apps/v1
        kind: Deployment
        name: vehicles-api
      minReplicas: 5
      maxReplicas: 20
      metrics:
      - type: Resource
        resource:
          name: cpu
          target:
            type: Utilization
            averageUtilization: 70
      - type: Resource
        resource:
          name: memory
          target:
            type: Utilization
            averageUtilization: 80
  target:
    kind: Deployment
    name: vehicles-api
